/* seleccionPlantilla.php y enviarCorreo.php*/
/* Estilos para la caja vacía */
.caja-vacia {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 200px;
    height: 300px;
    border: 2px solid #000;
}
.margenInferior {
    margin-bottom: 90px;
}   
/* */
